@font-face {
    font-family: "Lato-Regular";
    src: url("../fonts/lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato-Black";
    src: url("../fonts/lato/Lato-Black.ttf");
}

@font-face {
    font-family: "Lato-Bold";
    src: url("../fonts/lato/Lato-Bold.ttf");
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body .msn-flex-container {
    font-family: "Lato-Regular", Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    color: #999;
    /*background: url("../images/form-wizard-bg.jpg") no-repeat center center;
    height: 100vh;*/
    background-size: cover;

}

.msn-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.msn-flex-container :focus {
    outline: none;
}

.msn-flex-container textarea {
    resize: none;
}

.msn-flex-container input, .msn-flex-container textarea, .msn-flex-container select, .msn-flex-container button {
    font-family: "Lato-Regular", Arial, sans-serif;
    font-size: 14px;
}

.msn-flex-container p {
    font-family: "Lato-Regular", Arial, sans-serif;
    font-size: 16px;
}

.msn-flex-container select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.msn-flex-container select option[value=""][disabled] {
    display: none;
}

.msn-flex-container p, .msn-flex-container h1, .msn-flex-container h2, .msn-flex-container h3, .msn-flex-container h4, .msn-flex-container h5, .msn-flex-container h6, .msn-flex-container ul {
    margin: 0;
}

.msn-flex-container ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.msn-flex-container a {
    text-decoration: none;
}

.msn-flex-container textarea {
    resize: none;
}

.msn-flex-container img {
    max-width: 100%;
    vertical-align: middle;
}

.msn-flex-container .wrapper {
    width: 900px;
    /*height: 620px;*/
    padding: 63px 50px 0;
    background: #fff;
}

.msn-flex-container .wizard {
    position: relative;
}

.msn-flex-container h3 {
    font-family: "Lato-Black", Arial, sans-serif;
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 29px;
    font-weight: 900;
}

.msn-text-center {
    text-align: center !important;
}

.msn-margin-2 {
    margin: 2rem !important;
}

.msn-color-red {
    color: red !important;
}

.msn-font-size-1 {
    font-size: 1rem !important;
}

.msn-flex-container .form-row {
    display: flex;
    margin-bottom: 2rem !important;
}

.msn-flex-container .form-row .form-holder {
    width: 50%;
    margin-right: 20px;
}

.msn-flex-container .form-row .form-holder:last-child {
    margin-right: 0;
}

.msn-flex-container .form-row .form-holder.w-100 {
    width: 100%;
    margin-right: 0;
}

.msn-flex-container .form-row .form-group {
    width: 50%;
    display: flex;
}

.msn-flex-container .form-row .form-group .form-holder {
    margin-right: 21px;
}

.msn-flex-container .form-row .form-group .form-holder:last-child {
    margin-right: 0;
}

.msn-flex-container .form-holder {
    position: relative;
}

.msn-flex-container .form-holder i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 16px;
}

.msn-flex-container .form-holder i.zmdi-eye {
    cursor: pointer;
}

.msn-flex-container .form-control:not(.msn-submit-button) {
    height: 42px !important;
    border: 1px solid #929292 !important;
    width: 100% !important;
    background: none !important;
    padding: 0 35px 0 19px !important;
    color: #999 !important;
}

.msn-flex-container .form-control:focus {
    border-color: #8eb852 !important;
}

.msn-flex-container .form-control::-webkit-input-placeholder {
    color: #999 !important;
}

.msn-flex-container .form-control::-moz-placeholder {
    color: #999 !important;
}

.msn-flex-container .form-control:-ms-input-placeholder {
    color: #999 !important;
}

.msn-flex-container .form-control:-moz-placeholder {
    color: #999 !important;
}

.msn-flex-container .actions {
    margin-top: 30px;
}

.msn-flex-container .actions ul {
    display: flex;
    justify-content: space-between;
}

.msn-flex-container .actions ul.step-4 {
    justify-content: center;
}

.msn-flex-container .actions ul.step-4 li:first-child {
    display: none;
}

.msn-flex-container .actions li a {
    border: none;
    display: inline-flex;
    height: 42px;
    width: 132px;
    align-items: center;
    color: #fff;
    cursor: pointer;
    background: #8eb852;
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    border-radius: 3px;
}

.msn-flex-container .actions li a:hover {
    background: #a1d15e;
}

.msn-flex-container .actions li:first-child a {
    width: 97px;
}

.msn-flex-container .actions li:last-child a {
    width: 234px;
}

.msn-flex-container table.cart {
    width: 100%;
    font-size: 15px;
    margin-bottom: 17px;
}

.msn-flex-container table.cart th {
    font-family: "Lato-Bold", Arial, sans-serif;
    color: #666;
    padding: 9px 0;
    border-bottom: 1px solid #e6e6e6;
}

.msn-flex-container table.cart td {
    padding: 13px 0;
    border-bottom: 1px solid #e6e6e6;
}

.msn-flex-container table.cart tr:last-child td {
    border: none;
}

.msn-flex-container table.cart tr:last-child td {
    padding-bottom: 0;
}

.msn-flex-container table.cart .item-thumb {
    display: inline-block;
    border: 1px solid #e6e6e6;
}

.msn-flex-container table.cart .product-thumb {
    width: 17.49%;
}

.msn-flex-container table.cart .product-detail {
    width: 22.45%;
}

.msn-flex-container table.cart .product-detail a {
    font-family: "Lato-Bold", Arial, sans-serif;
    color: #666;
    display: block;
    margin-bottom: 6px;
}

.msn-flex-container table.cart .product-detail span {
    color: #999;
}

.msn-flex-container table.cart .product-quantity {
    width: 16.25%;
}

.msn-flex-container table.cart .product-quantity .quantity {
    /*display: inline-block;*/
    width: 105px;
    height: 36px;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msn-flex-container table.cart .product-quantity span {
    cursor: pointer;
    /*display: inline-block;*/
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msn-flex-container table.cart .product-quantity input {
    border: none;
    padding: 0;
    width: 17px;
    font-size: 15px;
    color: #666;
    background: none;
    text-align: center;
}

.msn-flex-container table.cart .product-quantity input::-webkit-outer-spin-button, table.cart .product-quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.msn-flex-container table.cart .total-price {
    width: 39.78%;
    text-align: center;
}

.msn-flex-container table.cart .total-price span {
    font-family: "Lato-Bold", Arial, sans-serif;
    color: #92c752;
    font-weight: 700;
}

.msn-flex-container table.cart .product-remove {
    width: 4.03%;
    text-align: right;
}

.msn-flex-container table.cart .product-remove a {
    color: #666;
}

.msn-flex-container .cart_totals {
    font-size: 15px;
    color: #666;
    width: 66.56%;
    margin: auto;
    margin-bottom: 31px;
}

.msn-flex-container .cart_totals table {
    width: 100%;
}

.msn-flex-container .cart_totals th, .cart_totals td {
    padding: 11px 0;
    vertical-align: top;
    text-align: left;
}

.msn-flex-container .cart_totals th {
    font-family: "Lato-Bold", Arial, sans-serif;
    color: #333;
    text-align: left;
    width: 65.81%;
}

.msn-flex-container .cart_totals th span {
    color: #999;
    font-size: 14px;
}

.msn-flex-container .cart_totals .order-total th, .cart_totals .order-total td {
    padding: 12px 0;
    color: #333;
    font-family: "Lato-Bold", Arial, sans-serif;
}

.msn-flex-container .checkbox label {
    padding-left: 21px;
    cursor: pointer;
    display: block;
    position: relative;
    margin-bottom: 13px;
}

.msn-flex-container .checkbox label span {
    font-family: "Lato-Bold", Arial, sans-serif;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.msn-flex-container .checkbox .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 1px solid #999;
}

.msn-flex-container .checkbox .checkmark:after {
    content: "";
    top: 2px;
    left: 2px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #999;
    position: absolute;
    display: none;
}

.msn-submit-row.form-row .form-holder {
    margin: 0 auto !important;
}

.msn-submit-row.form-row .form-holder {
    width: 40% !important;
}

.msn-submit-row.form-row .form-holder input[type="submit"], .msn-submit-row.form-row .form-holder button[type="submit"] {
    border: none !important;
    padding: .9rem !important;
    font-size: .9rem !important;
    /* -webkit-appearance: none; */
    color: #ffffff;
    cursor: pointer;
    font-family: "Lato-Regular", Arial, sans-serif;
    width: 100%;
}

.msn-bg-red {
    background-color: #ef394e !important;
}

.form-control.msn-color-white {
    color: white !important;
}

div#msn_error_message {
    padding: 1.5rem;
    border: 2px solid red;
    border-radius: 4px;
    text-align: center;
    margin: 1rem;
}

div#msn_reservation_detail {
    padding: 1.5rem;
    border: 2px solid green;
    border-radius: 4px;
    text-align: center;
    margin: 1rem;
}

#msn_error_message h2 {
    color: red !important;
    line-height: 3rem !important;
    font-family: "Lato-Regular", Arial, sans-serif !important;
}

#msn_reservation_detail h2 {
    color: green !important;
    line-height: 3rem !important;
    font-family: "Lato-Regular", Arial, sans-serif !important;
}

#msn_error_message h3 {
    line-height: 2.8rem !important;
    font-family: "Lato-Regular", Arial, sans-serif !important;
    font-size: 1.2rem !important;
    font-weight: normal !important;
    letter-spacing: 0 !important;
    margin-bottom: 0 !important;
    text-transform: none !important;
}

#msn_error_message p, #msn_reservation_detail p, #msn_conditional_reservation p, #msn_normal_reservation p {
    color: blue;
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin: 5px;
    text-align: center;
}

.msn-reservation-detail-box {
    margin: 1.3rem !important;
}

.msn-reservation-detail-box p {
    color: black !important;
    font-size: 1.1rem !important;
    line-height: 1.8rem !important;
}

#msn_conditional_reservation input.msn-food-button {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: grab;
}

#msn_normal_reservation a.msn-add-to-cart {
    width: 70%;
    padding: 1.2rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    border-radius: 10px;
    cursor: grab;
    display: inline-block;
    text-align: center;
    margin: 1rem auto;
}

#msn_conditional_reservation h2, #msn_normal_reservation h2 {
    border: 3px solid red;
    border-radius: 10px;
    padding: 1.2rem;
    text-align: center;
    color: red !important;
    line-height: 3rem !important;
    font-family: "Lato-Regular", Arial, sans-serif !important;
    margin: 1rem;
}

#msn_conditional_reservation h3, #msn_normal_reservation h3 {
    padding: 1rem;
    text-align: center;
    line-height: 3rem !important;
    font-family: "Lato-Regular", Arial, sans-serif !important;
}

#msn_conditional_reservation .msn-submit-row.form-row .form-holder,
#msn_normal_reservation .msn-submit-row.form-row .form-holder {
    width: 70% !important;
}

.msn-display-none {
    display: none !important;
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
}

@media (max-width: 991px) {
    .msn-flex-container .steps ul li .step-arrow {
        top: 45%;
        left: 102%;
    }

    .msn-flex-container .cart_totals {
        width: 74%;
    }
}

@media (max-width: 767px) {
    body {
        background: none;
        height: auto;
        display: block;
    }

    .msn-flex-container .steps ul li .step-arrow {
        top: 35%;
    }

    .msn-flex-container .wrapper {
        width: auto;
        padding: 1rem;
        height: auto;
    }

    .msn-flex-container .wizard {
        height: auto;
        padding: 40px 20px 20px;
    }

    .msn-flex-container .form-row {
        display: block;
    }

    .msn-flex-container .form-row .form-holder {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }

    .msn-flex-container .form-row .form-group {
        width: 100%;
        display: block;
    }

    .msn-flex-container .actions ul {
        flex-direction: column;
        align-items: flex-end;
    }

    .msn-flex-container .actions ul li {
        margin-bottom: 20px;
    }

    .msn-flex-container .cart_totals {
        width: 100%;
    }

    .msn-flex-container .cart_totals .shipping th, .msn-flex-container .cart_totals .shipping td {
        display: block;
        text-align: left;
    }

    .msn-flex-container .cart_totals td {
        text-align: right;
    }

    .msn-flex-container .cart_totals th {
        width: 80%;
    }

    .msn-flex-container table.cart th {
        display: none;
    }

    .msn-flex-container table.cart td {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
    }

    .msn-flex-container table.cart td:before {
        content: attr(data-title);
        font-weight: 700;
        color: #333;
    }

    .msn-flex-container table.cart .product-thumb, .msn-flex-container table.cart .product-detail,
    .msn-flex-container table.cart .product-quantity, .msn-flex-container table.cart .total-price,
    .msn-flex-container table.cart .product-remove {
        width: 100%;
    }

    .msn-flex-container table.cart .product-thumb, .msn-flex-container table.cart .product-remove {
        justify-content: center;
    }

    .msn-flex-container table.cart tr:first-child td:last-child {
        padding-bottom: 30px;
    }

    .msn-flex-container table.cart tr:last-child td {
        padding-bottom: 13px;
    }

    .msn-flex-container table.cart tr:last-child td:first-child {
        padding-top: 30px;
        border-top: 1px solid #e6e6e6;
    }
}
